@charset "UTF-8";

@import url("https://fonts.googleapis.com/css?family=Roboto:regular,700&display=swap&subset=cyrillic-ext");

@font-face {
  font-family: "icons";
  src: url("fonts/icons.eot?ng1zvq");
  src: url("fonts/icons.eot?ng1zvq#iefix") format("embedded-opentype"), url("fonts/icons.ttf?ng1zvq") format("truetype"), url("fonts/icons.woff?ng1zvq") format("woff"), url("fonts/icons.svg?ng1zvq#icons") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^=_icon-]:before,
[class*=" _icon-"]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^=_icon-]:before,
[class*=" _icon-"]:before {
  display: block;
}

._icon-arrow-down:before {
  content: "\e900";
}

._icon-arrow-right:before {
  content: "\e901";
}

._icon-bathtub:before {
  content: "\e902";
}

._icon-bed:before {
  content: "\e903";
}

._icon-cart:before {
  content: "\e904";
}

._icon-corner:before {
  content: "\e905";
}

._icon-location:before {
  content: "\e906";
}

._icon-search:before {
  content: "\e907";
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  color: inherit;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html {
  font-size: 16px;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "Roboto";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Roboto";
  font-size: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background-color: inherit;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

/*
&::-webkit-scrollbar {
	display: none;
}
*/

body {
  color: #000;
}

body._lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._container {
  max-width: 1280px;
  margin: 0 auto;
}

.button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 0px 0px;
}

.button._fw {
  width: 100%;
}

.select {
  position: relative;
}

.select__item {
  position: relative;
}

.select__title {
  color: #000;
  border: 1px solid #d9d9d9;
  background-color: #fff;
  cursor: pointer;
  border-radius: 4px;
}

.select__value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  height: 30px;
  padding: 0px 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.select__value span {
  height: 1em;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.select__value:before {
  content: "";
  display: inline-block;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  width: 11px;
  height: 7px;
  background: url("../img/icons/select.svg") center/100% no-repeat;
}

.select__input {
  width: 100%;
  background-color: transparent;
  height: 100%;
}

.select__options {
  color: #000;
  position: absolute;
  top: 29px;
  border-radius: 0 0 4px 4px;
  min-width: 100%;
  left: 0;
  background-color: #fff;
  border-top: 0;
  border: 1px solid #d9d9d9;
  border-top: 0;
  font-size: 14px;
  padding: 10px 0px 5px 0px;
}

.select__option {
  cursor: pointer;
  padding: 5px 15px;
  margin: 0px 0px 0px 0px;
}

.select._active {
  z-index: 5;
}

.select._active .select__value:before {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.select._active .select__options {
  display: block;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type=text]:focus,
input[type=email]:focus,
input[type=tel]:focus,
textarea:focus {
  outline: none;
}

.input {
  border-radius: 0 !important;
  width: 100%;
  display: block;
  padding: 0px 20px;
}

textarea.input {
  resize: none;
  padding: 0px 0px;
}

.checkbox {
  position: relative;
}

.checkbox__input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

.checkbox__input:checked + .checkbox__text:before {
  background: #fff url("../img/icons/check.svg") center no-repeat;
}

.checkbox__text {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: -0.3px;
  line-height: 1.25;
  cursor: pointer;
}

.checkbox__text:before {
  content: "";
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 0px 14px 0px 0px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  left: 0;
  top: 0;
  width: 20px;
  height: 18px;
  background: #fff;
  border: 1px solid #a7a9ac;
}

.checkbox a {
  color: #fff;
  text-decoration: underline;
}

.checkbox._error .checkbox__text:before {
  border: 1px solid #ee1212;
}

.options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.options__item {
  position: relative;
  cursor: pointer;
}

.options__input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  left: 0;
  top: 0;
  visibility: hidden;
}

.options__input:checked + .options__text:after {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.options__text {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: -0.3px;
  line-height: 1.25;
}

.options__text:before {
  content: "";
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 0px 14px 0px 0px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  left: 0;
  top: 0;
  border-radius: 50%;
  width: 20px;
  height: 18px;
  background: #fff;
  border: 1px solid #a7a9ac;
}

.options__text:after {
  content: "";
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #77243a;
  position: absolute;
  left: 5px;
  top: 4px;
}

.rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-size: 40px;
  line-height: 0.75;
  -webkit-transition: opacity 0.3s ease 0s;
  -o-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
}

.rating.rating_sending {
  opacity: 0.2;
}

.rating.rating_set .rating__active,
.rating.rating_set .rating__item {
  cursor: pointer;
}

.rating__body {
  position: relative;
}

.rating__body::before {
  content: "★★★★★";
  display: block;
}

.rating__active {
  position: absolute;
  width: 0%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}

.rating__active::before {
  content: "★★★★★";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  color: #ffd300;
}

.rating__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.rating__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
  height: 100%;
  opacity: 0;
}

.rating__value {
  font-size: 50%;
  line-height: 1;
  padding: 0px 0px 0px 10px;
}

.quantity {
  width: 88px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid rgba(166, 166, 166, 0.45);
}

.quantity__button {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30px;
          flex: 0 0 30px;
  position: relative;
  cursor: pointer;
}

.quantity__button::before,
.quantity__button::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  margin: 0px 0px 0px -4.5px;
  background-color: #a6a6a6;
  width: 9px;
  height: 1px;
}

.quantity__button_plus::before {
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.quantity__input {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.quantity__input input {
  height: 100%;
  color: #a6a6a6;
  font-size: 12px;
  width: 100%;
  text-align: center;
}

.row:after {
  display: block;
  content: "";
  clear: both;
}

.rub:after {
  content: "₽";
}

ol.counter {
  list-style-type: none;
  counter-reset: item;
}

ol.counter li {
  position: relative;
  padding: 0px 0px 0px 45px;
}

ol.counter li:before {
  counter-increment: item;
  content: counter(item);
  position: absolute;
  left: 0;
  top: 0;
  color: #818181;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  line-height: 26px;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  border: 1px solid #4274bb;
}

.ellipsis {
  display: block;
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.es {
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.table {
  display: table;
  font-size: 0;
  width: 100%;
}

.trow {
  display: table-row;
}

.cell {
  display: table-cell;
}

.cell.full {
  width: 100%;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

body.ie ._ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

body.ie ._ibg img {
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

._video {
  position: relative;
  overflow: hidden;
  height: 0;
  padding-bottom: 56.25%;
}

._video video,
._video iframe,
._video object,
._video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.videobg video,
.videobg iframe,
.videobg object,
.videobg embed {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  background-size: cover;
}

._more-content {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  overflow: hidden;
}

._more-link {
  cursor: pointer;
}

._more-link span {
  font-style: normal;
}

._more-link span:first-child {
  display: block;
}

._more-link span:last-child {
  display: none;
}

._more-link._active span {
  font-style: normal;
}

._more-link._active span:first-child {
  display: none;
}

._more-link._active span:last-child {
  display: block;
}

#map {
  background: url("../img/icons/loading.gif") center/50px no-repeat;
}

._swiper {
  overflow: hidden;
}

._swiper .swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

._swiper.swiper-container-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._swiper.swiper-container-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-container-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-container-android .swiper-slide,
.swiper-container-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

._tabs-block {
  display: none;
}

._tabs-block._active {
  display: block;
}

.mirror {
  -webkit-transform: scale(-1, 1);
      -ms-transform: scale(-1, 1);
          transform: scale(-1, 1);
}

.nicescroll-rails {
  z-index: 1000 !important;
}

._custom-scroll {
  position: fixed;
  right: 0;
  top: 0;
  width: 3px;
  height: 100%;
  z-index: 1000;
}

._custom-scroll__line {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 3px 0 0 3px;
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
}

.popup {
  -webkit-overflow-scrolling: touch;
  z-index: 100;
  padding: 30px 10px;
  position: fixed;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: visibility 0.8s ease 0s;
  -o-transition: visibility 0.8s ease 0s;
  transition: visibility 0.8s ease 0s;
  visibility: hidden;
}

.popup::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity 0.8s ease 0s;
  -o-transition: opacity 0.8s ease 0s;
  transition: opacity 0.8s ease 0s;
}

.popup.show {
  visibility: visible;
  overflow: auto;
}

.popup.show::before {
  opacity: 1;
}

.popup.show .popup__body {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.popup._active {
  overflow: auto;
  visibility: visible;
}

.popup._active::before {
  opacity: 1;
}

.popup._active .popup__body {
  -webkit-transition: all 0.3s ease 0.2s;
  -o-transition: all 0.3s ease 0.2s;
  transition: all 0.3s ease 0.2s;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.popup__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 100%;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
}

.popup__body {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background-color: #fff;
  padding: 50px;
  width: 100%;
  max-width: 800px;
}

.popup__close {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 0px;
  right: 0px;
  cursor: pointer;
  z-index: 30;
  background: url("../img/icons/close.svg") 0 0 no-repeat;
}

.header {
  height: 110px;
}

.header__container {
  width: 100%;
}

.header__alert {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: rem(40px);
  background-color: #939878;
  color: #fff;
  font-size: rem(14px);
  font-weight: 400;
  line-height: 21px;
  padding: 10px 0px;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.alert-header__text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.alert-header__close {
  padding-right: 48px;
  color: #fff;
}

.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 16px 0px;
}

.header__logo {
  position: relative;
  height: 32px;
  width: 105px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 450px;
          flex: 1 1 450px;
}

.header__logo img {
  position: absolute;
  top: 0;
  left: 0;
  width: 105px;
  height: 100%;
}

.header__navigation {
  margin-right: 80px;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 32px;
  margin: 0px 24px 0px 10px;
}

.heder__item {
  font-weight: 400;
  line-height: 150%;
  color: #2A2C1F;
}

.header__button-cart {
  background: #FFFFFF;
  border: 1px solid #E7E8E3;
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
  border-radius: 6px;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 42px;
  width: 100px;
  margin-right: 16px;
}

.header__button-cart:hover {
  background-color: #ccc;
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.308);
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.308);
}

.button {
  background: #CF6F49;
  border: 1px solid #CF6F49;
  border-radius: 6px;
  color: #fff;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  padding: 9px 21px;
}

.button:hover {
  background: #fff;
  color: #CF6F49;
}

/*
//Burger
.icon-menu {
	display: none;
	@media (max-width: $md3+px) {
		display: block;
		position: absolute;
		top: 18px;
		right: 10px;
		width: 30px;
		height: 18px;
		cursor: pointer;
		z-index: 5;
		span {
			transition: all 0.3s ease 0s;
			top: calc(50% - 1px);
			left: 0px;
			position: absolute;
			width: 100%;
			height: 2px;
			background-color: #000;
			&:first-child {
				top: 0px;
			}
			&:last-child {
				top: auto;
				bottom: 0px;
			}
		}
		&._active {
			span {
				transform: scale(0);
				&:first-child {
					transform: rotate(-45deg);
					top: calc(50% - 1px);
				}
				&:last-child {
					transform: rotate(45deg);
					bottom: calc(50% - 1px);
				}
			}
		}
	}
}
*/

.footer {
  padding: 64px 0px 72px 0px;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__logo {
  width: 105px;
  height: 32px;
  margin-right: 95px;
}

.footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 90px;
  margin: 0px 200px 72px 0px;
}

.nav-list {
  color: #2A2C1F;
}

.nav-list li:not(:last-child) {
  margin: 16px 0px 16px 0px;
}

.nav-item {
  color: #2A2C1F;
  gap: 16px;
  font-size: 14px;
}

.subscribe-footer__title {
  line-height: 150%;
  color: #2A2C1F;
  margin-bottom: 10px;
}

.subscribe-footer__subtitle {
  line-height: 150%;
  color: #65665C;
  margin-bottom: 15px;
  max-width: 380px;
}

.subscribe-footer__action {
  margin-bottom: 28px;
}

.action-subscribe__input {
  color: #65665C;
  background: #FFFFFF;
  border: 1px solid #E7E8E3;
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
  border-radius: 6px;
  outline: none;
  padding: 9px 10px 9px 10px;
  margin-right: 16px;
  width: 241px;
}

.action-subscribe__button {
  margin-right: 10px;
}

.subscribe-footer__privacy {
  font-size: 12px;
  line-height: 150%;
  color: #65665C;
  margin-bottom: 10px;
}

.footer__social {
  background: #f5f5f2;
  padding: 40px 36px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social-footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.social__info {
  font-size: 14px;
  line-height: 150%;
  color: #65665C;
}

.social__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 22px;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.main-page {
  background-color: #F5F5F2;
}

.page__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.page__content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
}

.content-page {
  max-width: 516px;
}

.content-page__action {
  background: #E7E8E3;
  border-radius: 32px;
  color: #2A2C1F;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 4px 12px;
  margin-bottom: 24px;
}

.button__silver {
  background: #E7E8E3;
  border-radius: 32px;
  color: #2A2C1F;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  padding: 4px 12px;
}

.content-page__title {
  color: #2A2C1F;
  font-size: 56px;
  font-weight: 400;
  line-height: 120%;
  margin-bottom: 21px;
}

.content-page__text {
  color: #65665C;
  font-size: 20px;
  font-weight: 400;
  line-height: 150%;
  margin-bottom: 30px;
}

.content-page__input {
  background: #FFFFFF;
  border: 1px solid #E7E8E3;
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
  border-radius: 6px;
  outline: none;
  color: #65665C;
  padding: 9px 10px 9px 10px;
  margin-right: 16px;
  width: 310px;
}

.page__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.page__image {
  position: relative;
  min-width: 720px;
  height: 686px;
}

.page__image img {
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  margin-right: -124px;
  -o-object-fit: cover;
     object-fit: cover;
}

.media-block {
  padding-top: 77px;
  background-color: #FFFFFF;
}

.media-block__header {
  margin-bottom: 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.media-block__text {
  max-width: 243px;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #2A2C1F;
}

.media-block__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.media-block__title {
  margin-bottom: 60px;
}

.title-block {
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-title {
  color: #2A2C1F;
  font-weight: 700;
  font-size: 48px;
  line-height: 120%;
  margin-bottom: 21px;
  text-align: center;
}

.title-block__subtitle {
  color: #65665C;
  font-size: 18px;
  line-height: 150%;
}

.media-blocks__box {
  margin-bottom: 128px;
}

.boxs__media-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 32px;
}

.boxs__media-block-box {
  background: #FFFFFF;
  border: 1px solid #E7E8E3;
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
  border-radius: 16px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 405px;
          flex: 0 1 405px;
  padding: 40px 30px;
  height: 100%;
}

.box__media-block__icon {
  margin-bottom: 24px;
}

.box__media-block__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 140%;
  color: #2A2C1F;
  margin-bottom: 17px;
}

.box__media-block__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #65665C;
}

.house-block {
  margin-bottom: 128px;
}

.house-block__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.content {
  max-width: 520px;
  max-height: 600px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 600px;
          flex: 1 1 600px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.quick-and-easy {
  margin-top: 50px;
}

.comfort-first {
  margin-top: 70px;
}

.content__button {
  margin-bottom: 20px;
}

.body-description__title {
  font-weight: 700;
  font-size: 48px;
  line-height: 120%;
  color: #2A2C1F;
  margin-bottom: 24px;
}

.body-description__text {
  font-size: 18px;
  margin-bottom: 21px;
  line-height: 150%;
  color: #65665C;
}

.body-description__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
  color: #2A2C1F;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.button1 {
  background: #FFFFFF;
  border: 1px solid #E7E8E3;
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
  border-radius: 6px;
  padding: 13px 25px;
}

.body-description__list {
  cursor: pointer;
}

.house-block__image {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 600px;
          flex: 0 1 600px;
  width: 600px;
  height: 600px;
}

.house-block__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 16px;
}

.body-description__info-card {
  margin-bottom: 30px;
}

.info-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 67px;
}

.info-card__item img {
  margin-bottom: 16px;
}

.info-card__title {
  margin-bottom: 16px;
  color: #2A2C1F;
  font-size: 20px;
  font-weight: 700;
  line-height: 140%;
}

.info-card__text {
  margin-bottom: 18px;
  color: #65665C;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}

.catalog-block {
  background: #F5F5F2;
}

.catalog__body {
  padding: 132px 0px 160px 0px;
}

.catalog__button {
  text-align: center;
  margin-bottom: 25px;
}

.catalog__title {
  margin-bottom: 80px;
}

.catalog__cards-list {
  margin-bottom: 80px;
}

.list-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 32px;
}

.list-cards__item {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
  border-radius: 12px;
}

.item-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 405px;
  height: 460px;
}

.item-card__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 405px;
          flex: 0 1 405px;
  position: relative;
}

.item-card__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.item-card__body {
  margin: 25px 69px 23px 25px;
}

.item-card__name {
  color: #2A2C1F;
  font-weight: 700;
  font-size: 24px;
  line-height: 140%;
}

.item-card__price {
  color: #2A2C1F;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  margin-bottom: 16px;
}

.item-card__location {
  font-size: 16px;
  line-height: 150%;
  color: #65665C;
  margin-bottom: 16px;
}

.item-card__info {
  font-size: 16px;
  line-height: 150%;
  color: #65665C;
}

.info-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 26px;
}

.catalog-block__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 24px;
}

.location {
  background: #F5F5F2;
}

.title-block__location {
  margin-bottom: 73px;
}

.location-container {
  padding-bottom: 208px;
}

.location-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 16px;
  margin-bottom: 80px;
}

.location-list__item {
  background: #FFFFFF;
  border: 1px solid #E7E8E3;
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
  border-radius: 16px;
  padding: 33px;
}

.item-location {
  width: 416px;
  height: 130px;
  color: #2A2C1F;
}

.item-location__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 140%;
  margin-bottom: 12px;
}

.item-location__subtitle {
  font-size: 16px;
  line-height: 150%;
}

.silver {
  margin-top: -80px;
}

.silver-container {
  background: #65665C;
  border-radius: 24px;
}

.silver {
  padding: 96px 0px 96px 0px;
}

.silver__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.silver__image {
  width: 48px;
  height: 48px;
  margin-bottom: 13px;
}

.silver-block__title {
  font-weight: 700;
  font-size: 48px;
  line-height: 120%;
  color: #FFFFFF;
  margin-bottom: 29px;
}

.silver-block__subtitle {
  font-size: 18px;
  line-height: 150%;
  color: #E7E8E3;
  margin-bottom: 34px;
  max-width: 765px;
}

.block-response__title {
  margin-bottom: 80px;
}

.response-block__item {
  margin-bottom: 160px;
}

.item-response {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 32px;
}

.item-response__card {
  width: 405px;
  padding: 33px;
}

.card-item {
  background: #FFFFFF;
  border: 1px solid #E7E8E3;
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
  border-radius: 16px;
}

.card-item__rating {
  margin-bottom: 30px;
}

.user-card__response {
  font-size: 18px;
  line-height: 150%;
  color: #2A2C1F;
  margin-bottom: 30px;
}

.user-card__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 16px;
}

.user-card__icon {
  width: 48px;
  height: 48px;
  position: relative;
}

.user-card__icon img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.user-card__name {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  color: #2A2C1F;
}

.user-card__status {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}

.latest {
  background: #F5F5F2;
  padding: 132px 0px 128px 0px;
}

.block-latest {
  padding-top: 128px;
}

.block-latest__title-block {
  margin-bottom: 78px;
}

.block-latest__silver-button {
  margin-bottom: 21px;
}

.block-latest__title {
  text-align: left;
}

.block-latest__main-title {
  text-align: left;
}

.block-latest__subtitle-block {
  margin-bottom: 29px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.block-latest__subtitle {
  max-width: 650px;
}

.block-latest__view-button {
  background: #FFFFFF;
  border: 1px solid #E7E8E3;
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
  border-radius: 6px;
  text-align: center;
  padding: 13px 25px;
}

.block-latest__view-button :hover {
  background: #b1b1b1;
}

.block-latest__last-posts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 33px;
  width: 405px;
  height: 100%;
}

.last-posts__item {
  background: #FFFFFF;
  border: 1px solid #E7E8E3;
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
  border-radius: 16px;
}

.item-post__image {
  position: relative;
  width: 403px;
  height: 266px;
}

.item-post__image img {
  position: absolute;
  top: 0%;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.item-post__info {
  padding: 25px;
}

.post-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.post-card__status {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 150%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card__rating {
  background: #FAE8E1;
  border-radius: 32px;
  color: #2A2C1F;
  padding: 4px 8px;
}

.post-card__data {
  color: #65665C;
}

.post-card__info {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 155px;
          flex: 1 1 155px;
}

.post-card__title {
  font-size: 24px;
  line-height: 140%;
  font-weight: 700;
  color: #2A2C1F;
  margin-bottom: 9px;
}

.post-card__text {
  font-size: 16px;
  color: #65665C;
  line-height: 150%;
  margin-bottom: 31px;
}

.post-card__action {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.post-card__button {
  font-size: 16px;
  color: #2A2C1F;
  line-height: 150%;
  text-align: left;
}

.post-card__button2 {
  font-weight: 700;
}

.post-card__button3 {
  font-weight: 700;
}

@media (min-width: 991.98px) {
  .quantity__button:hover::before,
  .quantity__button:hover::after {
    background-color: rgba(0, 0, 0, 0.5);
  }
}

@media (min-width: 992px) {
  .select__option:hover {
    background: #d9d9d9;
  }

  .checkbox a:hover {
    text-decoration: none;
  }
}

@media (max-width: 1292px) {
  ._container {
    max-width: 970px;
  }
}

@media (max-width: 991.98px) {
  ._container {
    max-width: 750px;
  }

  .select__title {
    font-size: 18px;
  }

  .select__options {
    font-size: 18px;
  }

  .boxs__media-block {
    display: block;
    gap: 20px;
  }
}

@media (max-width: 991.98) {
  .house-block__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 30px;
  }
}

@media (max-width: 767.98px) {
  ._container {
    max-width: none;
    padding: 0 10px;
  }
}